body {
    background-color: black;
}

.box {
    width: 200px;
    height: 200px;
    position: relative;
    border: 2px solid grey;
    border-radius: 100px;
    background-color: mediumturquoise;
    animation-name: bounce;
    animation-duration: 4s;
    animation-timing-function: linear;
    //animation-iteration-count: 2;
}

@keyframes bounce {
    0% {
        background-color: mediumturquoise;
        left: 0px;
        top: 200px;
    }
    20% {
        left: 200px;
        top: 0px;
    }
    40% {
        left: 400px;
        top: 200px;
    }
    70% {
        left: 800px;
        top: 0px;
    }
}

.box1 {
    width: 170px;
    height: 50px;
    position: relative;
    border: 2px solid grey;
    background-color: rgb(69, 47, 47);
    animation-name: square;
    animation-duration: 1s;
    animation-timing-function: linear;
    //animation-iteration-count: 2;
    animation-delay: 5s;
}

@keyframes square {
    0% {
        left: 200px;
        top: 100px;
    }
    25% {
        left: 200px;
        top: 200px;
    }
    50% {
        left: 200px;
        top: 300px;
    }
    70% {
        left: 200px;
        top: 350px;
    }
}

.shelf {
    width: 178px;
    height: 20px;
    border-radius: 0 0 20px 0;
    background-color: tan;
}