@mixin mybox {
    width:150px;
       height:150px;
       border:2px solid white;
       border-radius: 20px;
    
}
body{
    background-color: blue($color: #000000);
    color: white;
    
}
   /*.box{ 
       width: 100px;
       height: 100px;
       border:2px solid white;
       background-color: thistle;
       transition: all 6s;
       &:hover{
           width: 400px;
           height: 300px;
           transform: rotate(90deg 180deg);
       }
   }*/

       
/*.box{
    width: 100px;
    height: 100px;
    background-color:thistle;
    border-radius: 3px;
    border:2px solid white;
  transition: all 3s;
   transform: translateX(800px);
   transition-timing-function: linear;
   animation-name:animi;
   animation-duration: 8s;
   }
   @keyframes animi{
       from{
           transform:translateX(0px);
       }
       50%{
        transform:translateX(800px);
       }
       100%{
        transform:translateX(0px);
       }
   }
    

.box1{
    width: 100px;
    height: 100px;
    background-color:thistle;
    border-radius: 3px;
    border:2px solid white;
    transition: all 3s;
    transform: translateX(800px);
    transition-timing-function: ease-out;
    animation-name: animi1;
    animation-duration:8s;
    
    }

    @keyframes animi1{
        from{
            transform:translateX(0px);
        }
        50%{
         transform:translateX(800px);
        }
        100%{
         transform:translateX(0px);
        }
    }
    .box2{
        width: 100px;
    height: 100px;
    background-color:thistle;
    border-radius: 3px;
    border:2px solid white;
        transition: all 3s;
        transform: translateX(800px);
        transition-timing-function: ease-in-out;
        animation-name: animi2;
        animation-duration: 8s ease-in-out;
        
        }

        @keyframes animi2{
            from{
                transform:translateX(0px);
            }
            50%{
             transform:translateX(800px);
            }
            100%{
             transform:translateX(0px);
            }
        }
        
    
.box3{
    width: 100px;
    height: 100px;
    background-color:thistle;
    border-radius: 3px;
    border:2px solid white;
    transition-timing-function: ease-in;
    transition: all 3s;
    transform: translateX(800px);
    animation-name: animi3;
    animation-duration: 8s;
    
    }

    @keyframes animi3{
        from{
            transform:translateX(0px);
        }
        50%{
         transform:translateX(800px);
        }
        100%{
         transform:translateX(0px);
        }
    }*/
   
   .box{
    @include mybox();
       background-color: yellow;
       transform:translateX(0px);
       animation-name: animi;
       animation-duration: 6s;
       animation-timing-function: ease-in;

   }
   @keyframes animi{
       from{
           transform:translateX(0px);
       }
      
       50%{
        transform:translateX(800px);
       }
       to{
        transform:translateX(0px);  
       }
      
   }

   .box1{
    @include mybox();
       background-color:cyan;
       transform:translateX(0px);
       animation-name: animi1;
       animation-duration: 6s;
       animation-timing-function: ease-out;

       
       
   }
  @keyframes animi1{
       from{
           transform:translateX(0px);
       }
       
       50%{
        transform:translateX(800px);
       }
       to{
        transform:translateX(0px);  
       }
    }
      

       .box2{
        @include mybox();
           background-color:palevioletred;
           transform:translateX(0px);
           
           animation-name: animi2;
           animation-duration: 6s;
           animation-timing-function: ease-in-out;

       }
       @keyframes animi2{
           from{
               transform:translateX(0px);
           }
           
           50%{
            transform:translateX(800px);
           }
           to{
            transform:translateX(0px);  
           }
          
       }

   

   .box3{
    @include mybox();
       background-color:aquamarine;
       transform:translateX(0px);
      
       animation-name: animi3;
       animation-duration: 6s ;
       animation-timing-function: linear;

       
   }
   @keyframes animi3{
       from{
           transform:translateX(0px);
       }
       
       50%{
        transform:translateX(800px);
       }
       to{
        transform:translateX(0px);  
       }
      
   }

   


      
  