body{
    background-color: skyblue;
    background: linear-gradient(21.5deg, rgb(12, 63, 118)50%,skyblue 50%);
    background-repeat: no-repeat;
    height: 100vh;
}

.box{
    width: 100px;
    height:100px;
    border-radius: 100px;
    position: relative;
    background-color:rgb(116, 77, 9) ;
    
   // background-repeat:repeat;
    margin-top: 40px;
    animation-name: ball;
    animation-duration: 5s ;
    transform: rotate(180deg);
    animation-fill-mode: forwards;
   // transition: 2s ease-in-out;
   // transform: translate(1300px,510px)
    
   
}
@keyframes ball{
    0% {
       
        left: 0px;
        top: 0px;
    }
    25% {
        
        left: 900px;
        top: px;
    }
   /*50% {
       
        left: 1200px;
        top: 0px;
    }*/
    25% {
       
        left: 1300px;
        top: 510px;
    }
    
   
}
